body {
        font-size: 1.2em;
        line-height: 1.8;
        max-width: 45em;
        margin: auto;
        padding: 5%;

        /* font-family: Helvetica, Arial; */

        background-color:
        /* #f2f2f2 */
        /* #141314 */
        /* #001529 */

        /* #36393F */
        #202225
        ;
        /* color: #f2f2f2 ; */
        /* color: #FFFFFF; */
        }

h1 {
        text-decoration: underline;
        text-decoration-color:
        #a0a2a5
        ;

        color:
        /* #67C152 */
        /* #FFE082 */

        #FFFFFF
        ;
}

h2 {
        color:
        /* #21B6AD */

        /* #72767E */
        /* #BABBBC */
        #e8e9ea
        ;
}

p {
         color:
         /* #FFE082 */
         /* #FFFFFF */
         /* #f2f2f2 */

         #D8D9DA
         ;
}

img {
        max-width: 100%;
        display: block;
        margin: .75em auto;
        }
