body {
        font-size: 1.3em;
        line-height: 1.8;
        max-width: 45em;
        margin: auto;
        padding: 0 2%;

        /* font-family: Helvetica, Arial; */

        background-color:
        /* #f2f2f2 */
        /* #141314 */
        #001529

        /* color: #f2f2f2 ; */
        /* color: #FFFFFF; */
        }

h1 {
        color:
        /* #67C152 */
        #FFE082
        ;
}

h2 {
        color: #21B6AD;
}

p {
         color:
         /* #FFE082 */
         /* #FFFFFF */
         #f2f2f2
         ;
}

img {
        max-width: 100%;
        display: block;
        margin: .75em auto;
        }
